<?xml version="1.0" encoding="UTF-8"?>

<plugins>
  <plugin>
    <name>ModbusTCP</name>
    <jar>E:\WorkSpace\Thingsboard-SIA\static\proto\ModbusTCP.jar</jar>
    <class>cn.sia.sec.proto.plugin.ModbusTcpServiceImpl</class>
    <status>true</status>
    <requires>
      <require name="require0">port</require>
      <require name="require1">ip</require>
      <require name="require2">funCode</require>
      <require name="require3">slaveId</require>
      <require name="require4">address</require>
      <require name="require5">quantity</require>
      <require name="require6">attr</require>
    </requires>
  </plugin>
  <plugin>
    <name>cn.sia.sec-1.0</name>
    <jar>D:\2020612sec\Thingsboard-SIA\static\proto\cn.sia.sec-1.0.jar</jar>
    <class>cn.sia.sec.ClassName</class>
    <status>true</status>
    <requires>
      <require name="require0">ip</require>
      <require name="require1">port</require>
      <require name="require2">dst</require>
      <require name="require3">falg</require>
    </requires>
  </plugin>
</plugins>
